
@{
    ViewData["Title"] = "Add";
}

<h1>Ürün Ekleme</h1>

@model Product

<!--id için javascript tarafında yakalamak için name ile yapıyoruz backende yakalamak için-->
<form asp-controller="Products" asp-action="SaveProduct" method="get">
    <label>Ürün ismi</label>
    <input type="text" asp-for="Name" />
    <br/>

    <label>Ürün Fiyatı</label>
    <input type="text" asp-for="Price" />
    <br/>

    <label>Ürün Stoğu</label>
    <input type="text" asp-for="Stock" />
    <br/>

    <label>Ürün Rengi</label>
    <input type="text" asp-for="Color" />
    <br/>

    <button type="submit">Ürünü Kaydet</button>
</form>
