
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@model List<Product>
<h1>Ürünler</h1>
<table class="table">
    <thead>
        <th>Id</th>
        <th>ürün ismi</th>
        <th>Fiyat</th>
        <th>Stok</th>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <th>@item.Name</th>
            <th>@item.Price</th>
            <th>@item.Stock</th>
        </tr>
    }
    </tbody>
</table>

